#botao {
    cursor: pointer;
    width: 100px;
    height: 60px;
}
strong {
    font-size: 20pt;
}
mark#verde {
    background-color: rgba(63, 248, 16, 0.514);
    font: bold 12pt arial;
    color: green;
    padding: 2px;
}
mark#vermelho {
    background-color: rgba(248, 16, 16, 0.514);
    font: bold 12pt arial;
    color: rgb(172, 1, 1);
    padding: 2px;
}